@using System.Activities.Debugger
@using ServiceSupport
@model ServiceSupport.PhotoIssue

@{
    foreach (var listing in @Model.ListingsSharingImage)
    {
        <div class="panel panel-default" id="@listing.MlId">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="font-weight: bold; font-size: x-large;">
                    @listing.AddressLine, @listing.City, @listing.State, @listing.Zip
                </h3>

                <a class="btn btn-default pull-right" href="#" onclick="hideDuplicate(@listing.MlId)">
                    <i class="fa fa-check"></i>
                    Hide
                </a>
            </div>
            <div class="panel-body">
                <a href="#" class="thumbnail pull-right">
                    <img src="@listing.ImageUrl" style="min-height:200px;height:200px;"></img>
                </a>
                <p>Property Id: @listing.MprId</p>
                <p>Listing Id: @listing.MlId</p>
                <p>@listing.AddressLine</p>
                <p>@listing.City, @listing.State, @listing.Zip</p>
                    @{
                        var rdc_url = string.Format("http://www.realtor.com/realestateandhomes-detail/M{0}", @listing.MprId);
                        <p><a href="@rdc_url" target="_blank">View in Realtor.com</a></p>
                     }
            </div>
            <div class="panel-footer">
                <small>@listing.ImageHash</small>
            </div>
        </div>
    }

}