@using ServiceSupport
@model ServiceSupport.PhotoIssue

@{
    foreach (var listing in @Model.ListingsSharingImage)
    {
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">MPR ID: @listing.MprId</h3>
                <a class="btn btn-default pull-right" href="#">
                    <i class="fa fa-check"></i>
                    Hide
                </a>
            </div>
            <div class="panel-body">
                <a href="#" class="pull-right">
                    <img src="@listing.ImageUrl"></img>
                </a>                
                <p>Master Listing Id: @listing.MlId</p>
                <p>@listing.AddressLine</p>
                <p>@listing.City, @listing.State, @listing.Zip</p>
            </div>
            <div class="panel-footer">
                @*if (@listing.OtherListingImages != null)
                {
                    <div class="well">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        @{
                                            foreach (var image in @listing.OtherListingImages)
                                            {
                                                <div class="col-xs-3">
                                                    <a href="#x"><img src="@image/100x100" alt="Image" class="img-responsive"></a>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                }*@                           
                <small>@listing.ImageHash</small>
            </div>
        </div>
    }

}